.todays-games {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.display {
  background-color: #00C5B8;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 10px;
}