p {
  color: white;
  margin-left: 10px;
}

.game {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  margin: 5px 0 5px 0;
  width: 100%;
  border-bottom: 1px solid white;
  background-color: #252839;
}

/* .game:last-child {
  border: none;
} */

.button {
  border: none;
  background: none;
  color: white;
  font-family: 'Questrial', sans-serif;
  font-size: 16px;
  text-align: center;
  width: 100%;
}

.button:hover {
  color: rgb(153, 47, 32);
  ;
}

.details-button {
  border: none;
  font-size: 16px;
  color: rgb(246, 241, 238);
  background: none;
}

.details-button:hover {
  color: rgb(153, 47, 32);
}