p {
  color: white;
  margin-left: 10px;
}

.game {
  display: grid;
  grid-template-columns: 35% 30% 35%;
  margin: 0 20px 0 20px;
  border-bottom: 1px solid white;
}

.game:last-child {
  border: none;
}

.button {
  border: none;
  background: none;
  color: white;
  font-family: 'Questrial', sans-serif;
  font-size: 16px;
  width: 200px;
}

.button:hover {
  color: #249CD0;
}