.container-container {
  display: flex;
  justify-content: center;
}

.player-container {
  display: grid;
  width: 500px;
  grid-template-columns: 50% 50%;
  background-color: #b5b5b7;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.6);
}

.player-name {
  color: #252839;
  margin: 10px;
}

.player-image {
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  box-shadow: 2px 2px 10px 0px rgba(255, 255, 255, 0.8);
}

.other-info-container {
  text-align: start;
}

.other-info {
  color: #252839;
}